<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>your portfolio</title>
    
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
  </head>
  <body>
    
    <header>
      <div class="logo"> Idea Portfolio</div>
      <div class="toggle"></div>
      <div class="navigation">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="work.html">Work</a></li>
          <li><a href="user-proj.html">Idea-Portfolio</a></li>
        </ul>
        <div class="social-bar">
          <ul>
            <li>
              <a href="https://facebook.com">
                <img src="images/facebook.png" target="_blank" alt="" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com">
                <img src="images/twitter.png" target="_blank" alt="" />
              </a>
            </li>
            <li>
              <a href="https://instagram.com">
                <img src="images/instagram.png" target="_blank" alt="" />
              </a>
            </li>
          </ul>
          <a href="mailto:you@email.com" class="email-icon">
            <img src="images/email.png" alt="" />
          </a>
        </div>
      </div>
      <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    </header>

    <section>
      <div class="title">
        <h1>Show your Project</h1>
        <p>
          Let’s proceed with uploading the details of your project.
          This will allow us to showcase it to the world. 
          Please prepare a PDF document that we can upload to your profile.

        </p>
      </div>
      <div class="contact">
        <div class="contact-form">
          <form>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="First Name" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Last Name" />
              </div>
            </div>
            <div class="row">
              <div class="input50">
                <input type="text" placeholder="Email" />
              </div>
              <div class="input50">
                <input type="text" placeholder="Subject" />
              </div>
            </div>
            <div class="row">
              <div class="input100">
                <textarea placeholder="describe your project. (Hint:Make it short and attentive)"></textarea>
              </div>
            </div>
         


 
    </section>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css" integrity="sha512-7uSoC3grlnRktCWoO4LjHMjotq8gf9XDFQerPuaph+cqR7JC9XKGdvN+UwZMC14aAaBDItdRj3DcSDs4kMWUgg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.js" integrity="sha512-9e9rr82F9BPzG81+6UrwWLFj8ZLf59jnuIA/tIf8dEGoQVu7l5qvr02G/BiAabsFOYrIUTMslVN+iDYuszftVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="dropZone">
  <form action="file-upload" class="dropzone" id="my-great-dropzone"></form>
  <button>Add Files...</button>
</div>
    <script src="js/script.js"></script>
  </body>
</html>
